@import url('https://fonts.cdnfonts.com/css/avenir');

 /* #f8f7ed beige */
 /* #8c1c22 red */

* {
    margin: 0;
    font-family: 'Avenir', sans-serif;
    color: black;
    scroll-behavior: smooth !important;
}


body {
    padding: 0;
    background-color: white;
}

nav {
    background-color: #f8f7ed;
    height: 7vh;
    border-bottom: .05rem solid #dbdad1;
    min-height: 3.5rem;
}

a {
    text-decoration: none;
    color: inherit;
  }

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: auto;
    position: fixed;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 5;
}

.menu-item {
    font-size: 120%;
    transition: color 0.3s ease;
}

.menu-item:hover {
    color: #8c1c22;
}

.menu-nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 3em;
}

.menu-btns {
    margin-right: 20vw;
}

.menu-btns a {
    margin: 1rem;
}

.menu-item {
    text-align: right;
}

.logo {
    margin: 1rem;
    height: 6rem;
}

.lang {
    margin-right: 1rem;
    padding: .3rem;
    display: flex;
    justify-content: space-between;
    gap: .4rem;
    align-items: right;
}

.lang-item {
    margin: 0;
    padding: .4rem;
    width: 1.5rem;
}

.lang-item:hover {
    color: #8c1c22;
}

.gallery-block {
    margin: 0;
    padding-top: 3.5rem;
    height: calc(100vh - 3.5rem);
    width: 100%;
    display: flex;
    justify-content: column;
    gap: 0px;
    position: relative;
}

.gallery-item {
    width: 25vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.gallery-item img {
    object-fit: cover;
    width: 25vw;
    height: calc(100vh - 3.5rem);
    transform: translateY(-6vh);
    transition: transform 1s ease-in-out, font-style 1s ease-in-out;
}

.gallery-item:hover img {
    transform: translateY(0);
}

.gallery-thing span {
    font-weight: bolder;
    position: absolute;
    z-index: 2;
    align-self: flex-end;
    margin: 5vh 10vw;
    font-size: 4vw;
    color: white;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,  
        -1px 1px 0 black,  
        1px 1px 0 black; 
    transition: margin .5s ease-in-out, font-size .5s ease-in;
}

.gallery-thing:hover span {
    margin-bottom: 10vh;
    font-size: 5vw;
}

.main-scroll {
    background-color: white;
    margin: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100vh;
}

.section {
    scroll-snap-align: start;
    padding: 10vw 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-top: 30vh;
}

.first-section {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 25vh;
}

.first-section-left {
    padding-left: 3vw;
    width: 35vw;
}

.first-section img {
    height: 40vh;
    border-radius: 50%;
}

.first-section-right {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
    padding: 0 3vw;
    overflow: hidden;
    height: 150%;
}

.first-section-image-one {
    overflow: hidden;
    border-right: 1px solid white;
    transition: border-right 5s cubic-bezier(0, 0.75, 0.50, 1);
}

.first-section.in-view .first-section-image-one {
    border-right: 1px solid black;
}

.first-section-image-one img {
    transform: translate(40%, 100vw);
    transition: transform 1s cubic-bezier(0, 0.75, 0.50, 1), opacity 1s ease-in;
    opacity: 0;
}

.first-section-image-two {
    overflow: hidden;
    border-right: 1px solid white;
    transition: border-right 5s cubic-bezier(0, 0.75, 0.50, 1);
    width: 23vh;
}

.first-section.in-view .first-section-image-two {
    border-right: 1px solid black;
}

.first-section-image-two img {
    transform: translate(-20%, -100vw);
    transition: transform 1s cubic-bezier(0, 0.75, 0.50, 1), opacity 1s ease-in;
    opacity: 0;
}

.first-section-image-three {
    overflow: hidden;
}

.first-section-image-three img {
    transform: translate(-40%, 100vw);
    transition: transform 1s cubic-bezier(0, 0.75, 0.50, 1), opacity 1s ease-in;
    opacity: 0;
}

.first-section.in-view .first-section-image-one img {
    transform: translate(40%, 50%);
    opacity: 1;
}

.first-section.in-view .first-section-image-two img {
    transform: translate(-20%, 25%);
    opacity: 1;
}

.first-section.in-view .first-section-image-three img {
    transform: translate(-40%, 60%);
    opacity: 1;
}

.second-section {
    overflow: hidden;
    display: flex;
    justify-content: start;
    position: relative;
}

.second-section-left {
    width: 50vw;
    height: 50vh;
}

.second-section-right {
    width: 50vw;
    padding: 0 3vw;
}

.square-image {
    position: absolute;
    top: 10vh;
    left: 0;
    z-index: 1;
    height: 85%;
}

.circle-image {
    clip-path: circle(50%);
    height: 30vh;
    top: 20%;
    left: 30%;
    position: absolute;
    z-index: 2;
}

.third-section {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding-top: 30vh;
}

.third-section div {
    width: 30vw;
}

.third-section img {
    transition: all .5s ease-in-out;
}

.third-section-left {
    margin-left: 3vw;
    margin-right: 10vw;
}


.third-section-middle {
    display: flex;
    justify-content: center;
}

.third-section-middle img{
    border-radius: 12vw 12vw 0 0;
    margin: 10vh 0;
    height: 75vh;
    width: 23vw;
}

.third-section-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.third-section-right img{
    height: 10vw;
    width: 10vw;
}

.third-section-right-image-one {
    clip-path: circle(40%);
    transform: translateY(-100vh);
    transition: transform 1s ease-in-out;
}

.third-section-right-image-two {
    margin-top: 40vh;
    transform: translateY(100vh);
    transition: transform 1s ease-in-out;
}

.generic-btn {
    height: 3rem;
    padding: .5rem 1rem;
    border: .1rem solid #dbdad1;
    margin: 4rem auto;
    background-color: #fff7ed;
    transition: all ease-in-out .3s;
    width: 20vw;
}

.generic-btn:hover {
    box-shadow: inset 0px 0px 50px -37px rgba(66, 68, 90, 1);
    color: #8c1c22;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2vh;
}

.text-box h2 {
    margin-bottom: 1rem;
    transition: transform 1s cubic-bezier(0, 0.78, 0.58, 1);
}

.first-section .text-box h2, .third-section .text-box h2 {
    transition: transform 1s cubic-bezier(0, 0.78, 0.58, 1);
    transform: translateX(-100vw);
}

.third-section .text-box .generic-btn, .first-section .text-box .generic-btn {
    transition: transform 1s cubic-bezier(0, 0.78, 0.58, 1);
    transform: translateX(-100vw);
}

.first-section .text-box span, .third-section .text-box span {
    transition: transform 1s cubic-bezier(0, 0.78, 0.58, 1);
    transform: translateX(-100vw);
}

.third-section.in-view .third-section-right-image-one {
    transform: translate(0);
}

.third-section.in-view .third-section-right-image-two{
    transform: translate(0);
}

.first-section.in-view .text-box h2, .third-section.in-view .text-box h2{
    transform: translateX(0);
}

.first-section.in-view .text-box span, .third-section.in-view .text-box span{
    transform: translateX(0);
    transition-delay: .25s;
}

.first-section.in-view .text-box .generic-btn, .third-section.in-view .text-box .generic-btn{
    transform: translateX(0);
    transition-delay: .5s;
}

.second-section .text-box h2 {
    transition: transform 1s ease-in-out;
    transform: translateY(100vh);
}

.second-section .text-box .generic-btn {
    transition: transform 1s ease-in-out;
    transform: translateY(100vh);
}

.second-section .text-box span {
    transition: transform 1s ease-in-out;
    transform: translateY(100vh);
}

.second-section.in-view .text-box h2{
    transform: translateX(0);
}

.second-section.in-view .text-box span{
    transform: translateX(0);
    transition-delay: .25s;
}

.second-section.in-view .text-box .generic-btn{
    transform: translateX(0);
    transition-delay: .5s;
}

.collaborants {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18vh 20vw;
}

.collaborants h3 {
    margin-bottom: 6vh;
}

.collaborants div img {
    height: 15vh;
    margin: 0 2vw;
    opacity: .75;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

.collaborants div img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.footer-section {
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    margin-top: 20vh;
    height: 100%;
}

.footer {
    background-color: #f8f7ed;
    border-top: .05rem solid #dbdad1;
    width: 100%;
    font-size: 75%;
}

.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3vw;
}

.contact h3 {
    margin-bottom: 1vh;
    font-weight: bolder;
}

.contact a {
    margin: 1%;
}

.contact span {
    margin-bottom: .5vh;
}

.gallery-furnitures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 3.5rem;
    height: calc(100vh - 3.5rem);
}

.gallery-cube {
    width: 20vw;
    height: 20vh;
    margin: 5vh 5vw;
    display: flex;
    justify-content: center;
}

.gallery-cube img {
    object-fit: cover;
    max-width: 20vw;
    max-height: 20vh;
    transition: transform .5s ease-in-out;
}

#gallery-furnitures .gallery-cube{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.furnitures-gallery-img-additional {
    display: none;
}

.declining-outline {
    height: 100%;
    border: solid black .3rem;
    transition: transform .5s ease-in-out;
    transform: scale(1.2);
}

.declining-outline:hover {
    transform: scale(.8);
}

.declining-outline img:hover {
    transform: scale(1);
}